.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  align: center;
  cursor: pointer;
  background-color: #A3A3A3;
  border-radius: 5px;
}
h1 {
  color: #A3A3A3;
  text-align: center;
}
a {
  text-decoration: none;
}
